@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&display=swap');

.navbar {
  /* height: 90px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: teal;
}

.navbar-brand {
  font-family: 'Exo 2', sans-serif;
    font-weight: 600;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 80px;
  color: white;
}

.navbar-toggler {
  border: none;
  color: teal;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  float: right;
  
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba(255, 255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}

.collapse.navbar-collapse.show {
  display: flex !important;
  justify-content: flex-end;
  
}

.navbar-nav {
  margin-left: auto;
  color: white;
}

.nav-item {
  margin-right: 20px;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #555555;
}
