@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Upright', serif;
}

.home,
.services,
.about,
.form-group {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  /* background-image: url('../public/images/services.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 18px;
}

#messageButton {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group{
  font-size: 18px;
}
.message-input {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 0.5;
    color: #212529;
    text-align: left;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    max-width: 100%;
    background-color: #f2f2f2;
}

.message-input > h4{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-card{
  opacity: 0.7;
  text-align: justify;
  padding-top: auto;
  font-size: 20px;
  font-weight: 600;
  width: 70%;
}

.about-card h1{
  text-align: center;
}

ul.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  list-style: none;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content li i {
	font-size: 50px;
	color: crimson;
	margin-bottom: 20px;
}
.contact-content li p {
	margin: 0;
}

@media (max-width: 1000px) {
	.contact-content li {
		flex-basis: 100%;
		margin-bottom: 15px;
	}
	.contact-content li:last-child {
		margin-bottom: 0;
	}
	.contact-content li p {
		padding: 0;
	}
}

.services-card{
  opacity: 0.8;
  text-align: justify;
  padding-top: 6px;
  width: 70%;
}

.services-card > h1{
  text-align: center;
}